<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>SafeStartWeb</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
		<link rel="stylesheet" type="text/css" href='base.css'>
		<link rel="stylesheet" href="{{ STATIC_URL }}style.css" />
		<title>{% block title %}User test{% endblock %}</title>
	</head>
	<body>
		
		<header class="site-header inicio">
			<div class="contenedor">
				<div class="barra">
					<a href="index.html">
						<!--img src ="img/logo.svg" alt="Logotipo"-->
					</a>
					<nav>
						<a href="{% url 'home_app:categorias' %}">Categorias</a>
						<a href="{% url 'home_app:como-funciona' %}">Como funciona</a>
						<a href  ="{% url 'auth_login' %}">{% trans "Home" %}</a> |
						{% if user.is_authenticated %}
							{% trans "Logged in" %}: {{ user.username }}
							(<a href ="{% url 'auth_logout' %}">{% trans "Log out" %}</a> |
							<a href  ="{% url 'auth_password_change' %}">{% trans "Change password" %}</a>)
						{% else %}
							<a href  ="{% url 'auth_login' %}">{% trans "Log in" %}</a>
						{% endif %}
						<hr />
					</nav>
				</div>
			</div>
		</header>
		{% block content %}
			
		{% endblock content %}
		<footer>
			<nav>
				<a target="_blank" href="{% url 'home_app:nosotros' %}">Nosotros</a>
				<a href="{% url 'home_app:contacto' %}">Contacto</a>
				<p>Todos los Derechos Reservados &copy;</p>
			</nav>
		</footer>
	</body>
</html>