<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>SafeStartWeb</title>
	<link rel="stylesheet" href="">
</head>
<body>
			<header class="site-header inicio">
			<div class="contenedor">
				<div class="barra">
					<a href="index.html">
						<!--img src ="img/logo.svg" alt="Logotipo"-->
					</a>
					<nav>
						<!--blank sirve para abrir una pestaña nueva-->
						<a target="_blank" href="nosotros.html">Categorias</a>
						<a href="anuncios.html">Anuncios</a>
						<a href="blog.html">Blog</a>
						<a href="contacto.html">Contacto</a>
					</nav>
				</div>
				<h1>Venta de Casas y Departamentos Exclusivos de Lujo</h1>
			</div>
			</header>
</body>
</html>