<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>SafeStartWeb</title>
		<link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
		<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
		<title>{% block title %}User test{% endblock %}</title>
	</head>
	<body>
		<header class="site-header inicio">
			<div class="contenedor">
				<div class="barra">
					<a href="{% url 'home_app:index' %}">
						<img class= "img-index" src ="{% static 'img/logo_transparent.png' %}" alt="Logotipo">
					</a>
					<nav class="botones-nav">
						<a href="{% url 'home_app:categorias' %}">Categorias</a>
						<a href="{% url 'home_app:como-funciona' %}">Como funciona</a>
						{% if user.is_authenticated %}
							{% if user.Usuario.id is None %}
								<a href="{% url 'home_app:perfil' user.username %}">Hola {{ user.username }}</a>
								<a href="{% url 'home_app:sign_out' %}">Cerrar sesión</a>
							{% else %}
								<a href="{% url 'home_app:modify-user' %}">Hola {{ user.username }}</a>
								<a href="{% url 'home_app:sign_out' %}">Cerrar sesión</a>
							{% endif %}
						{% else %}
							
							<a href="{% url 'home_app:sign_up' %}">Registrate</a>
							<a href="{% url 'home_app:sign_in' %}">Iniciar sesión</a>
						{% endif %}
					</nav>
				</div>
			</div>
		</header>
		{% block bienvenida %}
		{% endblock bienvenida %}
		{% block content %}
		{% endblock content %}
		
		{% block proyectos %}
		{% endblock proyectos %}
		<footer class="seccion-footer">
			<nav class="pie-pagina">
				<a class="logo-footer" href="{% url 'home_app:index' %}">
					<img class= "img-index" src ="{% static 'img/logo_transparent.png' %}" alt="Logotipo">
				</a>
				<a target="_blank" href="{% url 'home_app:nosotros' %}">Nosotros</a>
				<a href="{% url 'home_app:contacto' %}">Contacto</a>
				<a href="{% url 'home_app:como-funciona' %}">Como funciona</a>
				
			</nav>

			<p class="copyright">Todos los Derechos Reservados &copy;</p>
		</footer>
	</body>
</html>