<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>

<body>
	<div class="Categorias">

		<a href="{% url 'home_app:proyecto-categoria' AO %}">Administración/Oficina </a><br>
		<a href="{% url 'home_app:proyecto-categoria' AL %}">Almacén </a><br>
		<a href="{% url 'home_app:proyecto-categoria' AC %}">Atención a clientes </a><br>
		<a href="{% url 'home_app:proyecto-categoria' CT %}">CallCenter/Telemercadeo </a><br>
		<a href="{% url 'home_app:proyecto-categoria' CE %}">Comercio Exterior </a><br>
		<a href="{% url 'home_app:proyecto-categoria' CP %}">Compras </a><br>
		<a href="{% url 'home_app:proyecto-categoria' CC %}">Comunicación </a><br>
		<a href="{% url 'home_app:proyecto-categoria' CO %}">Construccion y obra </a><br>
		<a href="{% url 'home_app:proyecto-categoria' CF %}">Contabilidad/Finanzas </a><br>
		<a href="{% url 'home_app:proyecto-categoria' DG %}">Dirección/Gerencia </a><br>
		<a href="{% url 'home_app:proyecto-categoria' DA %}">Diseño/Artes gráficas </a><br>
		<a href="{% url 'home_app:proyecto-categoria' DC %}">Docencia </a><br>
		<a href="{% url 'home_app:proyecto-categoria' HO %}">Hostelería </a><br>
		<a href="{% url 'home_app:proyecto-categoria' IN %}">Informática </a><br>
		<a href="{% url 'home_app:proyecto-categoria' IG %}">Ingeniería </a><br>
		<a href="{% url 'home_app:proyecto-categoria' IC %}">Investigación y Calidad </a><br>
		<a href="{% url 'home_app:proyecto-categoria' LA %}">Legal, Asesoría </a><br>
		<a href="{% url 'home_app:proyecto-categoria' LO %}">Logística </a><br>
		<a href="{% url 'home_app:proyecto-categoria' MR %}">Mantenimiento y Reparaciones Técnicas </a><br>
		<a href="{% url 'home_app:proyecto-categoria' MF %}">Manufactura </a><br>
		<a href="{% url 'home_app:proyecto-categoria' MS %}">Medicina/Salud </a><br>
		<a href="{% url 'home_app:proyecto-categoria' MT %}">Mercadotécnia </a><br>
		<a href="{% url 'home_app:proyecto-categoria' OP %}">Operarios </a><br>
		<a href="{% url 'home_app:proyecto-categoria' PR %}">Producción </a><br>
		<a href="{% url 'home_app:proyecto-categoria' PU %}">Publicidad </a><br>
		<a href="{% url 'home_app:proyecto-categoria' RH %}">Recursos Humanos </a><br>
		<a href="{% url 'home_app:proyecto-categoria' SG %}">Servicios Generales </a><br>
		<a href="{% url 'home_app:proyecto-categoria' SE %}">Seguridad </a><br>
		<a href="{% url 'home_app:proyecto-categoria' TE %}">Telecomunicaciones </a><br>
		<a href="{% url 'home_app:proyecto-categoria' TR %}">Transporte </a><br>
		<a href="{% url 'home_app:proyecto-categoria' TU %}">Turismo </a><br>
		<a href="{% url 'home_app:proyecto-categoria' VE %}">Ventas </a><br>
		<a href="{% url 'home_app:proyecto-categoria' OT %}">Otros </a><br>


	</div>

</body>

</html>