{% extends 'home/base.html' %}
{% block content %}
	<main class="contenedor-funciona">
		<div class="seccion-como contenedor">
			<h1 class="centrar-texto fw-600">COMO FUNCIONA</h1>
			<h2 class="fw-300">Publica un proyecto y comienza a recibir propuestas</h2>
			
			<h3 class="fw-300">En SafeStart encontrarás emprendedores que te ayudarán a conseguir un trabajo de manera rápida y efectiva.</h3>
			<div class="seccion-funciona">
				
				<ul>
					<li type="circle">DESCRIBE LO QUE NECESITAS</li>
				</ul>
				
				<p>Indica qué tipo de trabajador estás buscando y cuál es tu presupuesto. ¡Es gratis!</p>
				<ul>
					<li type="circle">RECIBE PROPUESTAS EN MINUTOS</li>
				</ul>
				<p>Inmediatamente trabajadores de todo el mundo leerán tu proyecto y se postularán para el trabajo. La idea de SafeStart es ayudar
					a las personas a buscar un trabajo de manera rápida, sin intervenir entre el empleado y el empleador. Dejando que entre estos
					mismos lleguen a un acuerdo.
				</p>
				
				<ul>
					<li type="circle">¿CÓMO USAR SAFESTART?</li>
				</ul>
				<p>¿Cómo usar SafeStart? Es sencillo, seguro y práctico. Regístrate gratis y crea un proyecto-emprendimiento indicando el trabajo requerido. Los trabajadores interesados te enviarán sus informacion. Eliges el que más te conviene y aceptas su propuesta :)</p>
			</div>
		</div>
	</main>
{% endblock content %}