{% extends 'home/base.html' %}
{% load static %}
{% block content %}
	
	{% if user.is_authenticated %}
		<section class="contenedor">
			<h3 class="fw-300 centrar-texto">Bienvenido {{ user.first_name }}</h3>
		</section>
	{% endif %}
	
	
	{% if user.is_authenticated == False %}
		<section class="bienvenida">
			
			<div class="contenedor contenido-bienvenida">
				<h1 class="fw-700 centrar-texto">Bienvenidos a Safestart</h1>
				<p>Safestart es el lugar donde los proyectos nacen, donde un pequeño grano de arena puede convertirse en el sueño de otra y donde las ideas estan ahi, esperando para transformarse en grandes oportunidades. Por eso estamos aqui, para impulsar desde otra perspectiva aquellos emprendimientos que pueden llegar a cambiar el mundo.</p>
				
			</div>
		</section>
		<section class="contenedor">
			<h2 class="centrar-texto fw-300">Sobre nosotros</h2>
			<div class="contenido-nosotros">
				
				<div class="iconos-nosotros">
					<img src="{% static 'img/idea.png' %}" alt="La mejor seguridad">
					<h3 class="encabezado">Buenas Ideas</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut aliquam dui ut nibh    posuere, ut placerat erat blandit. Integer laoreet lorem eu sapien euismod tincidunt.</p>
				</div>
				<div class="iconos-nosotros">
					<img src="{% static 'img/equipo.png' %}" alt="El mejor precio">
					<h3>El Mejor Equipo</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut aliquam dui ut nibh posuere, ut placerat erat blandit. Integer laoreet lorem eu sapien euismod tincidunt.</p>
				</div>
				<div class="iconos-nosotros">
					<img src="{% static 'img/proteger.png' %}" alt="Siempre a tiempo">
					<h3>Comienzo Seguro</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut aliquam dui ut nibh posuere, ut placerat erat blandit. Integer laoreet lorem eu sapien euismod tincidunt.</p>
				</div>
			</div>
		</section>
	{% endif %}
	
	
	
	{% if user.is_authenticated %}
		<main class="activos contenedor">
			<div class="proyectos-activos">
				<h4 class="fw-600 centrar-texto">Proyectos Activos</h4>
				<h5 class="centrar-texto fw-600">Aqui podras ver tus proyectos activos</h5>
				<a class="btn btn-primario" href="{% url 'home_app:proyectos-autor' user.username %}">Ver tus proyectos</a>
				<br><br>
			</div>
			<div class="crear-proyecto">
				<h4 class="fw-600 centrar-texto">No has creado un proyecto?</h4>
				<p class="centrar-texto fw-600">No pierdas la oportunidad! <br> Miles de personas estan esperando formar parte.</p>
				<h4 class="centrar-texto fw-600">EMPECEMOS!</h4>
				<a class="btn btn-secundario" href="{% url 'home_app:add-proyecto' %}">NUEVO PROYECTO XD</a>
				<br><br>
			</div>
		</main>
	{% endif %}
	
	<section class="seccion-interes">
		<div class="contenido-interes contenedor">
			<h2>Estas interesado en participar en algún proyecto en específico?</h2>
			<a href="{% url 'home_app:lista-proyectos' %}">Ver Proyectos</a>
		</div>
	</section>
	<section class="todas-categorias">
		<h2 class="centrar-texto fw-300">Categorías</h2>
		<div class="categorias contenedor">
			<a href="{% url 'home_app:proyecto-categoria' 'AO' %}">Administración/Oficina </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'AL' %}">Almacén </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'AC' %}">Atención a clientes </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'CT' %}">CallCenter/Telemercadeo </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'CE' %}">Comercio Exterior </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'CP' %}">Compras </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'CC' %}">Comunicación </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'CO' %}">Construccion y obra </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'CF' %}">Contabilidad/Finanzas </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'DG' %}">Dirección/Gerencia </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'DA' %}">Diseño/Artes gráficas </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'DC' %}">Docencia </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'HO' %}">Hostelería </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'IN' %}">Informática </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'IG' %}">Ingeniería </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'IC' %}">Investigación y Calidad </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'LA' %}">Legal, Asesoría </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'LO' %}">Logística </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'MR' %}">Mantenimiento y Reparaciones Técnicas </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'MF' %}">Manufactura </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'MS' %}">Medicina/Salud </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'MT' %}">Mercadotécnia </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'OP' %}">Operarios </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'PR' %}">Producción </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'PU' %}">Publicidad </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'RH' %}">Recursos Humanos </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'SG' %}">Servicios Generales </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'SE' %}">Seguridad </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'TE' %}">Telecomunicaciones </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'TR' %}">Transporte </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'TU' %}">Turismo </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'VE' %}">Ventas </a><br>
			<a href="{% url 'home_app:proyecto-categoria' 'OT' %}">Otros </a><br>
		</div>
	</section>
	
{% endblock content %}