{% extends 'home/base.html' %}
{% block content %}
	
	<h1 class="centrar-texto fw-300">Tus Proyectos</h1>
	<main class="contenedor seccion-proyectos">
		<div class="contenedor-proyectos">
			<table>
				<thead>
					<th>Nombre del proyecto</th>
					<th>Descripción del proyecto</th>
					<th>Fecha publicacion</th>
					<th>Rubro</th>
					<th>Ver proyecto</th>
					
				</thead>
				<tbody>
					{% for l in proyectos %}
						
						<tr>
							
							<td><p>{{l.nombre_proyecto}}</p> </td>
							<td><p>{{l.descripcion_proyecto}}</p> </td>
							<td><p>{{l.fecha_publicacion}}</p> </td>
							<td><p>{{l.rubro}}</p> </td>
							<td><a href="{% url 'home_app:proyecto-perfil' l.id %}">Ver Proyecto </a></td>
							
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</main>
{% endblock content %}